.swiper {
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  .swiper-pagination {
    bottom: 0;
  }
}